@use 'sass:color';
@use 'mixins' as *;
@use 'colors' as *;
@use 'font-styles' as *;
@use 'z-index' as *;

:root {
   --main-fz: 62.5%;
   --ff-1: 'Inter', sans-serif;
   --ff-2: 'Mulish', sans-serif;
   // --white: #fff;
   --container: 1200px;

   @each $name,
   $value in $colors {
      --clra-#{$name}-0: #{$value};
      --clr-#{$name}-0: hsl(#{$value});
      // --clr-#{$name}-1: #{color.adjust($value, $lightness: 15%)};
      // --clr-#{$name}-2: #{color.adjust($value, $lightness: 30%)};
      // --clr-#{$name}-3: #{color.adjust($value, $lightness: 45%)};
      // --clr-#{$name}-4: #{color.adjust($value, $lightness: 60%)};
   }

   @each $screen-size,
   $font-size in $font-sizes {
      @if $screen-size == large {
         @each $size,
         $value in $font-size {
            --fz-#{$size}: #{$value};
         }
      }

      @else if $screen-size == extra-big {
         @include breakpoint-down(extra-big) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
            --container: 1140px;
         }
      }

      @else if $screen-size == big {
         @include breakpoint-down(big) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
            --container: 960px;
         }
      }

      @else if $screen-size == medium {
         @include breakpoint-down(medium) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
            --container: 720px;
         }
      }

      @else if $screen-size == regular {
         @include breakpoint-down(regular) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
            --container: 540px;
         }
      }

      @else if $screen-size == small {
         @include breakpoint-down(small) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
            --container: 100%;
         }
      }

      @else if $screen-size == xsmall {
         @include breakpoint-down(xsmall) {
            @each $size,
            $value in $font-size {
               --fz-#{$size}: #{$value};
            }
         }
      }
   }

   @each $value,
   $weight in $font-weights {
      --fw-#{$weight}: #{$value};
   }

   @each $index,
   $height in $z-index {
      --i-#{$index}: #{$height};
   }
}
