<header class="header">
   <div class="container">
      <div class="header__inner">
         <a href="index.html" class="logo__link">
            <img src="assets/images/logo/logo.svg" width="242" height="48" alt="Blue Collar" class="logo__img">
         </a>
         <ul class="header__list">
            <li class="header__item">
               <svg class="header__icon" width="68" height="68">
                  <use xlink:href="#"></use>
               </svg>
               <div class="header__wrapp">
                  <span class="header__name">Mail Us</span>
                  <a href="mailto:Info@bluecollar.com" class="header__link">Info@bluecollar.com</a>
               </div>
            </li>
            <li class="header__item">
               <svg class="header__icon" width="68" height="68">
                  <use xlink:href="#"></use>
               </svg>
               <div class="header__wrapp">
                  <span class="header__name">Call Us</span>
                  <a href="tel:+01569896654" class="header__link">+01 569 896 654</a>
               </div>
            </li>
         </ul>
         <nav class="nav">
            <ul class="nav__list">
               <li class="nav__item active"><a href="#" class="nav__link">Home</a></li>
               <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Pages</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Contact Us</a></li>
            </ul>
            <button class="nav__btn btn" id="modal-open-btn">Have Any Questions?</button>
         </nav>
         <div class="burger__menu">
            <span></span>
         </div>
      </div>
   </div>
</header>
