.btn {
   display: block;
   width: 100%;
   font-size: var(--fz-20);
   font-weight: var(--fw-400);
   background-color: var(--clr-blue-0);
   padding: 1.9rem;
   line-height: 1.3em;
   color: var(--clr-yellow-0);
   text-align: center;
   border: 2px solid transparent;
   cursor: pointer;
   transition: .1s linear;

   &:hover {
      background-color: var(--clr-yellow-0);
      color: var(--clr-blue-0);
   }

   &--yel {
      background-color: var(--clr-yellow-0);
      color: var(--clr-blue-0);

      &:hover {
         background-color: transparent;
         color: var(--clr-yellow-0);
         border-color: var(--clr-yellow-0);
      }
   }

   &:active {
      transform: scale(.95);
   }
}