.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--i-top);
   width: 100%;
   margin: auto;
   padding: 4rem 0 7rem;
   background-color: var(--clra-white-0);

   .logo__img {
      max-width: 242px;
   }

   &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
      flex-wrap: wrap;
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 6.5rem;
   }

   &__item {
      display: flex;
      align-items: center;
      gap: 1.5rem;
   }

   &__icon {
      width: 68px;
      height: 68px;
      background-color: var(--clr-yellow-0);
      border-radius: 100vmax;
   }

   &__wrapp {

   }

   &__name {
      font-family: var(--ff-2);
      display: block;
      font-size: var(--fz-20);
      margin-bottom: 5px;
      color: var(--clr-blue-0);
   }

   &__link {
      font-size: var(--fz-17);
      color: var(--clr-gray-0);
   }

   .logo {
      &__link {}

      &__img {}
   }

   .nav {
      position: absolute;
      bottom: -120px;
      background-color: var(--clr-yellow-0);
      padding: 1rem 1rem 1rem 4.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__list {
         display: flex;
         gap: 5rem;
         flex-wrap: wrap;
      }

      &__item {
         &.active {
            color: var(--clra-white-0);
         }
      }

      &__link {
         position: relative;

         &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            background-color: var(--clr-blue-0);
            width: 0;
            height: 2px;
            transition: .15s linear;
         }

         &:hover {
            &::before {
               width: 100%;
            }
         }
      }

      &__btn {
         color: var(--clr-white-0);
         max-width: 26.8rem;

         &:hover {
            border-color: var(--clr-blue-0);
            color:var(--clr-blue-0) ;
         }
      }
   }

   .burger {
      &__menu {}
   }

}

.fixed {
   box-shadow: 0 10px 15px rgba(#000, .1);
}