.hero {
   background-image: url('../images/hero/hero-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   &__inner {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

   }
   &__suptitle {
      margin-bottom: 3rem;
      width: fit-content;
      background-color: hsla(var(--clra-white-0) / .2);
      color: var(--clr-white-0);
      text-transform: capitalize;
      padding: 0 4.5rem;
   }
   &__title {
      margin-bottom: 3rem;
      max-width: 71.5rem;
      text-transform: capitalize;
   }
   &__btn {
      max-width: 23rem;
   }
}
